@import "../static/font/iconfont.css";


@mainBgColor: #DBDEE3;

html {
    overflow: hidden;
}

body {
    margin: 0;
    background: @mainBgColor;
    box-sizing: border-box;
    padding: 16px 8px 16px 16px;
    overflow-x: hidden;
    overflow-y: scroll;
    * {
        box-sizing: border-box;
    }
}

#app {
    min-height: 100%;
    position: relative;
    background: rgba(255, 255, 255, 1);
    //box-shadow: 0 2px 7px 0 rgba(25,40,66,0.24);
}

.table-space {
    height: 10px;
    background: @mainBgColor;
}

.u-row {
    margin: 0;

    & > div {
        padding: 0 0;
    }
}

.u-message {
    left: 0;
}

.u-loading.u-loading-rotate > div {
    border: none;
}


.form-panel-textarea {
    > div {
        margin-bottom: 4px;
        min-height: 48px;
        height: 48px;
        padding: 0;

        .u-label {
            width: 100%;
            display: inline-block;
            text-align: right;
            position: relative;
            height: 32px;
            line-height: 32px;
            padding-right: 8px;
        }

        .u-label.time {
            bottom: 10px;
        }

        .u-label:after {
            display: inline-block;
            margin-right: 4px;
            content: "  ";
            line-height: 1;
            font-size: 14px;
            color: #f5222d;
            font-family: monospace;
            width: 5px;
        }

        .mast:after {
            content: "*";
        }

        .error {
            color: red;
            display: block;
            font-size: 12px;
            margin-top: 2px;
            line-height: 12px;
        }

        textarea {
            width: 100%;
            resize: none;
            min-height: 80px;
        }

        .calendar-picker,
        .u-select {
            width: 100%;
        }

        .u-form-control[readonly="readonly"] {
            background: #eee;
            border-color: #e0e0e0;
            color: #424242;
            cursor: not-allowed;
        }
    }
}


.table-header {
    /*   margin-top: 15px;
  margin-left: 8px; */
    padding: 8px;
    background: #fff;
}

.grid-parent {
    padding-bottom: 30px;
}

.head-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.ml8 {
    margin-left: 8px;
}


// 手机号输入，去掉type='number'的选择样式
.u-form-control::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

button::selection {
    text-shadow: none;
    background: none !important;
}

//上传代码导致Table里的checkbox错位
.u-popover-content {
    .u-checkbox {
        top: auto;
    }
}

// 过滤条件中日期组件和过滤漏斗显示
.filter-wrap .calendar-picker {
    width: auto !important;
}

.u-message-notice-description-icon {
    display: none;
}

.u-message-notice-description-content {
    margin-left: 10px;
}


//表格中 渲染 code 样式
.demo-table-code {
    //text-decoration: underline;
    color: #2196F3;
    cursor: pointer
}

.ref-core-tree-node .uf {
    color: #f53c32;
}

