@brand-primary: #f53c32;

@color-text-brand: #f53c32;//主题字色
@color-text-base: #424242;//主字色
@color-text-secondary: #4A4A4A; //次级字色
@color-text-placeholder: #999;
@size-text-base: 12px; //基础字号
@color-border-base: #BDBDBD; //基础border颜色
@fill-base: #fff; //组件背景
@fill-body: #f5f5f5; //页面背景


