.alert_dialog_modal{
  .pop_footer{
    text-align:right !important;

    //button{
    //  width: 86px;
    //  height: 32px;
    //}
  }

  .u-modal-header{
    padding-bottom: 4px;
    i.uf{
      font-size:32px;
      line-height: 32px;
      color: rgb(255,152,0);
      vertical-align: text-top;
      padding: 0;
      margin-right: 16px;
    }
    span.modal_conf_title {
      font-size: 14px;
      color: #212121;
    }
  }
  .alert-modal-cont {
    margin-left: 40px;
  }

}